#/build
## Android Studio specific files
#.idea/

## Log and crash files
#*.log

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json

# Ignore sensitive data files
app/src/main/res/raw/chatspace_key.json
 app/src/main/res/raw/chatspace_key.json:2
